@page
@model KJ_ASP_Projekt.Pages.Events.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Create</h1>

<h4 class="text-center">Event</h4>
<hr />
<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Event.Title" class="control-label"></label>
                <input asp-for="Event.Title" class="form-control" />
                <span asp-validation-for="Event.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.Description" class="control-label"></label>
                <input asp-for="Event.Description" class="form-control" />
                <span asp-validation-for="Event.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.Place" class="control-label"></label>
                <input asp-for="Event.Place" class="form-control" />
                <span asp-validation-for="Event.Place" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.Adress" class="control-label"></label>
                <input asp-for="Event.Adress" class="form-control" />
                <span asp-validation-for="Event.Adress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.Date" class="control-label"></label>
                <input asp-for="Event.Date" class="form-control" />
                <span asp-validation-for="Event.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.SpotsAvailable" class="control-label"></label>
                <input asp-for="Event.SpotsAvailable" class="form-control" />
                <span asp-validation-for="Event.SpotsAvailable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-primary" asp-page="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
