@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <br>
        Here you can find all kind of events hosted by different organizations.
        <br>Login/Register an account to join events from the <strong>Events</strong> tab.
        <br><br>
        Are you from an organization and would like to host your own event?
        <br> Contact an administrator and ask for <strong>organization privileges</strong>.
    </p>
    <img src="/images/cyan-silhouette-concert.png.png" />
</div>

